// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.mainTitle {
  h2 {
    margin-top: 10px;
    margin-bottom: 0;
    color: $white;
  }
  h4 {
    margin-top: 0;
    color: $white;
  }
  @include respond-to(medium) {
    position: absolute;
    left: 10vh;
    bottom: 40%;
  }
  @include respond-to(large) {
    bottom: 10vh;
  }
}
  
.main {
  img {
    width: 100%;
    height: 100%;
  }
  .featureTitle {
    background-color: #fff;
    display: block;
    margin-bottom: 20px;
    width: auto;
    padding: 10px 12px 10px 22px;
    text-decoration: none;
    color: black;
  }
  @include respond-to(medium) {
    border-bottom: 10px solid #fff;
    .featureTitle {
    display: none;
    }
  }
  @include respond-to(large) {
    float: left;
    width: 73%;
    height:100%;
    border-bottom: 0;
    border-right: 10px solid #fff;
  }
}

.side1 {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 3px 12px 3px 22px;
  p {
    width: auto;
    color: black;
  }
  h2 {
    display: none;
  }
  h3 {
    display: none;
  }
  // @media only screen and (min-width: 600px),
  //        only screen and (min-width: 350px) and (orientation: landscape) 
  @include respond-to(medium) {
    padding-top: 4em;
    padding-bottom: 6em;
    background-color: black;
    width: 48%;
    height: 50vh;
    float: left;
    p {
      display: none;
    }
    h2 {
      font-size: 30px;
      display: block;
      color: #fff;
      text-align: center;
      font-family: "minion-pro"    
    }
    h3 {
      display: block;
      color: #fff;
      text-align: center;
      font-family: "minion-pro"
    }
  }
  @include respond-to(large) {
    float: left;
    margin: 0 auto;
    width: 27%;
    height: auto;
  }
}

.side2 {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 3px 12px 3px 22px;  
  p {
    font-family: "Times New Roman";
    width: auto;
    padding: 0 12px 0 22px;
    color: black;
  }
  img {
    display: none;
  }
  @include respond-to(medium) {
    padding-top: 2em;
    border-left: 10px solid #fff;
    background-color: black;
    width: 48%;
    height: 50vh;
    float: left;
    img {
      display: block;
    }
    p {
      color: #fff;
    }
  }
  @include respond-to(large) {
    border-left: 0;
    border-top: 10px solid #fff;
    float: left;
    margin: 0 auto;
    width: 27%;
    height: auto;
  }
}
